<div class="home-box">
  <h1 class="text-title"> Upload an image
  </h1>
  <%= form_with model: @user_images, url: texts_catcher_index_path, local: true do |f| %>
    <%= f.file_field :photo, data: {img_id: 'photo'}, required: true, accept: 'image/jpeg, image/png, image/gif, image/bmp' %>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.submit 'Enviar', class: 'home-button' %>
  <% end %>
</div>
  